[user]
    name = sonofborge
    email = sonofborge@gmail.com

[alias]
    co = checkout
    cp = cherry-pick
    unstage = reset HEAD --

[apply]
    whitespace = nowarn

[core]
    editor = vim
    excludesfile = ~/.gitignore

[push]
    default = simple

[color]
    ui = true
